@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: calc(1rem + 0.5vw);
  font-family: sans-serif;
}

a:hover {
  color: rgb(203 213 225 / var(--tw-text-opacity));
}

img {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}

p {
  overflow-wrap: anywhere;
}
