---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getEntry, render } from 'astro:content';

const page = await getEntry('pages', 'about');
if (!page) {
  return Astro.redirect('/404');
}

const { Content } = await render(page);
---

<BaseLayout title={page.data.title} description={page.data.description}>
  <article class="py-6 prose dark:prose-invert">
    <h1>{page.data.title}</h1>
    {page.data.description && <p class="text-xl">{page.data.description}</p>}
    <hr />
    <Content />
  </article>
</BaseLayout>
