---
---

<footer class="container mx-auto max-w-2xl px-4 py-12 text-sm leading-loose">
  <nav>
    <ul class="list-disc ml-3">
      <li>
        <a href="/">ホーム</a>
      </li>
      <li>
        <a href="/posts">記事一覧</a>
      </li>
      <li>
        <a href="/about">このサイトについて</a>
      </li>
    </ul>
  </nav>
</footer>
