---
const SITE_DOMAIN = 'nabetama.com';
---

<header>
  <div class="flex items-center justify-start h-28 pt-0">
    <h1 class="text-2xl font-bold block">
      <a href="/">{SITE_DOMAIN}</a>
    </h1>
  </div>
</header>
